<h1>Diary</h1>
<table class="table-responsive table-striped table-bordered" style="border:1px;">
  <tr>
    <td>Date</td>
    <td>Log</td>
    <td>Action</td>
  </tr>
  <% @entries.each do |entry| %>
    <tr>
      <td><%= entry.date %></td>
      <td><%= entry.note %></td>
      <td><%= link_to 'Show', entry_path(entry) %>
        <%= link_to 'Edit', edit_entry_path(entry) %>
        <%= link_to 'Delete', entry_path(entry), method: :delete,
        data: {confirm: 'Are you sure?'} %>
      </td>
    </tr>
  <% end %>
</table>
