<h1>Diary</h1>
<%= link_to 'Diary', controller: 'entries' %>
<%= link_to 'New entry', new_entry_path %>

<table style="border:1px;">
  <tr>
    <td>Date</td>
    <td>Log</td>
    <td>Action</td>
  </tr>
  <% @entries.each do |entry| %>
    <tr>
      <td><%= entry.date %></td>
      <td><%= entry.note %></td>
      <td><%= link_to 'Show', entry_path(entry) %></td>
    </tr>
  <% end %>
</table>
